# === R / RStudio files ===
.Rproj.user
.Rhistory
.RData
.Ruserdata

# === Reference genome & archives ===
results/reference/*.rar
#results/reference/README.md

# === QC archives ===
*.zip
*.rar

# === Raw & trimmed sequencing files ===
data/fastq-raw/
data/fastq-trimmed/

# === Alignment files ===
*.bam
*.bai
*.sam

# === HISAT2 index ===
*.ht2

# === Reference genome & annotation ===
*.fa
*.fa.gz
*.gtf
*.gtf.gz

# === QC reports archives ===
results/fastqc/*.zip
results/fastqc-trimmed/*.zip
results/multiqc/*.zip
results/multiqc-trimmed/*.zip

# === Logs / temp ===
*.log
*.tmp
.DS_Store


